* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: orange;
    --secondary-color: black;
    --accent-color: #0077c8;
    --nav-bg: black;
    --text-color: white;
    --font-family:"Arial, sans-serif";
}


/* Navigation Bar */
nav {
    padding: 10px 40px;
    background-color: var(--nav-bg);
    overflow: hidden; /* it keeps nav height stable when using floats */
}

/* Logo on the left */
.logo {
    float: left;
}

.logo img {
    height: 80px;
    width: auto;
    display: block;
}


.nav-links {
    float: right;
    margin-top: 20px; /* aligns menu with logo */
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}

/*Hero Section */
.hero-section {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 100px 20px;
    display: block;
}

.row{
    display: inline;
    margin: 0 15px;
    justify-content: space-between;


}

.hero-image {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
    display: inline-block;
    
}


/* Sponsors Section */
.sponsors-section {
    border: 2px solid var(--accent-color);
    border-radius: 15px;
    padding: 30px 20px;
    text-align: center;
    background-color: var(--secondary-color);
    width: 90%;
    margin: 50px auto;
}

.sponsors-section h2 {
    color: var(--accent-color);
    font-size: 32px;
    margin-bottom: 25px;
}

.sponsor-logos img {
    width: 140px;
    margin: 10px 15px;
    vertical-align: middle;
    display: inline-block;
}

.dots {
    margin-top: 15px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.dot.active {
    background-color: black;
}

.container{
    border: 2px solid black;
    padding: 2%;
    margin: 2% 0%;
    width:100%
  }

  /*Congrats section styling */
  .congrats-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
  }

  .congrats-container div{
    border: 1px solid black;
    padding: 2%;
    font-size: 1.5em;
    text-align: left;
  }
  /*News and events styling*/
  .news-events-container {
    display: grid;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }

  .news-events-container div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 3%;
    font-size: 1.5em;
    text-align: left;
  }

  #news div, #events div {
    font-size: 1em;
    margin: 2% 0%;
    padding: 2%;
    border: 1px solid grey;
  }