nav{
    padding: 10px 40px;
    text-align: right;
}

.logo{
    float: left;
}


nav ul li{
    display: inline-block;
    margin: 0 15px;
    list-style: none;
    
}   

nav ul li a{
    text-decoration: none;
}